[Unit]
Description=Revisar cada 15 minutos que no sobre RAM ni falte trabajo

[Timer]
OnBootSec=5min
OnUnitActiveSec=15min
AccuracySec=1min
Persistent=true

[Install]
WantedBy=timers.target
